.prices__form {
    margin: 60px 0px;
    padding: 20px 50px;
    &__title {
        &__item {
            letter-spacing: 3px;
            font-family: sans-serif;
            color: rgb(44, 42, 42);
        }
    }
    &__subtitle {
        padding-right: 30px;
        margin-bottom: 30px;

        @media screen and (max-width: 500px) {
            padding-right: 5px;
        }
        &__item {
            font-size: 50px;
            font-weight: bold;
            color: #000;
        }
    }
    &__desc {
        margin-bottom: 20px;
        padding-right: 30px;
        &__item {
            font-family: sans-serif;
            font-size: 17px;
            color: rgba(43, 39, 39, 0.667);
        }
    }
    &__social__networks {
        &__item {

        }
    }
    .form__input {
        margin: 20px 0px;
    }
    .form__text__area {
        width: 100%;
        margin-top: 20px;
    }
    .form__action {
        margin-top: 10px;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 10px;
        font-size: 16px;
        background: #fff;
        transition: all .3s;
        &:hover {
            transition: all .3s;
            color: #fff;
            background-color: #000;
        }
    }
    .prices__form__social__networks {
        margin-top: 30px;
        &__item {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #000;
            padding: 10px;
            margin: 0px 5px;
            color: #000;
            font-size: 20px;
            transition: all .3s;

            &:hover {
                transition: all .3s;
                color: #ca1919;
            }
        }
    }
}