.portfolio__single__item {
    &__banner {
        position: relative;
        width: 100%;
        min-height: 500px;
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("../../assets/images/portfolio-detail-banner.png");
        &__item {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 100px;

            @media screen and (max-width: 500px) {
                padding: 0px 20px;
            }
            &__title {
                letter-spacing: 2px;
                font-size: 20px;
                color: rgb(76, 69, 69);
            }

            &__subtitle {
                font-weight: bold;
                font-size: 50px;
                font-family: Ubuntu;
            }
        }
    }
    .portfolio__about__of__project {
        margin: 30px 0px;
        padding: 0px 40px;

        &__role {
            &__title {
                font-weight: bold;
                font-size: 20px;
                font-family: sans-serif;
                text-align: center;
            }

            &__item {
                font-family: sans-serif;
                font-size: 18px;
                color: rgb(46, 43, 43);
                text-align: center;
            }
        }

        &__start {
            &__title {
                padding: 0px 5px;
                font-weight: bold;
                font-size: 18px;
                font-family: sans-serif;
                text-align: center;
            }
            &__item {
                font-family: sans-serif;
                font-size: 18px;
                color: rgb(46, 43, 43);
                text-align: center;
            }
        }
        &__launch {
            &__title {
                padding: 0px 5px;
                font-weight: bold;
                font-size: 18px;
                font-family: sans-serif;
                text-align: center;
            }

            &__item {
                font-family: sans-serif;
                font-size: 18px;
                color: rgb(46, 43, 43);
                text-align: center;
            }
        }

        &__website {
            &__title {
                padding: 0px 5px;
                font-weight: bold;
                font-size: 18px;
                font-family: sans-serif;
                text-align: center;
            }

            &__item {
                font-family: sans-serif;
                font-size: 18px;
                color: rgb(46, 43, 43);
                text-align: center;
            }
        }
    }
    .portfolio__item__img {
        margin: 50px 0px;
        padding: 0px 70px;
        @media screen and (max-width: 500px) {
            padding: 10px 20px;
        }
        &__paralax {
            width: 100%;
            height: 600px;
        }
    }

    .about__the__firm__container {
        padding: 10px 70px;

        @media screen and (max-width: 500px) {
            padding: 10px 40px;
        }
        .about__the__firm {
            width: 100%;
            &__title {
                &__item {
                    color: rgb(243, 35, 35);
                    font-size: 17px;
                    font-weight: bold;

                    &__text {
                        margin-left: 10px;
                        color: rgb(66, 61, 61);
                    }
                }
            }
        }
        .the__firm__desc {
            &__title {
                font-size: 30px;
                font-weight: bold;
            }
            &__text {
                margin-top: 20px;
                font-size: 18px;
                color: #000;
            }
            &__text__second {
                margin-top: 20px;
                font-family: sans-serif;
                font-size: 17px;
                color: rgb(66, 64, 64);
            }
        }
    }
    .portfolio__img__second {
        margin: 40px 0px;
        .portfolio__item__img__paralax__second {
            width: 100%;
            height: 450px;
        }
    }
    .portfolio__img__third {
        margin: 40px 0px 0px 0px;
        overflow: hidden;
        .portfolio__item__img__paralax__third {
            width: 100%;
            height: 450px;
            transform: scale(1.1);
        }
    }
}
