.footer {
    padding: 70px 40px 30px 40px;
    background: #131419;
    width: 100%;
    .footer__title {
        &__item {
            font-weight: bold;
            color: #fff;
        }
    }
    .about__team {
        .team {
            color: #fff;
            font-weight: bold;
        }
        .team__address {
            font-family: sans-serif;
            color: rgb(196, 181, 181);
        }
        .team__email {
            font-family: sans-serif;
            color: rgb(196, 181, 181);
        }
        .team__phonenumber {
            font-family: sans-serif;
            color: rgb(196, 181, 181);
        }
    }
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 500px) {
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__title {
            margin-left: 20px;
            color: #fff;
            font-weight: bold;
            @media screen and (max-width: 500px) {
                margin: 0;
                margin-bottom: 10px;
            }
        }
        &__list {
            @media screen and (max-width: 500px) {
                display: flex;
                justify-content: start;
                gap: 10px;
                padding: 0;
                margin-bottom: 0;
            }
            &__item {
                list-style: none;
                margin: 7px 0px;
                font-size: 16px;
                letter-spacing: 1px;
                font-family: Ubuntu;
                a {
                    text-decoration: none;
                    color: rgb(196, 181, 181);
                    position: relative;

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0%;
                        content: ".";
                        color: transparent;
                        background: #ca1919;
                        height: 1px;
                        transition: all 0.5s;
                        margin-bottom: -3px;
                    }
                    &:hover:after {
                        width: 100%;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
    .footer__followus__section {
        &__title {
            margin-bottom: 25px;
            &__item {
                color: #fff;
                font-weight: bold;
            }
        }
        .social__media__links {
            &__item {
                margin: 5px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                padding: 10px;
                border-radius: 50%;
                border: 1px solid grey;
                color: #fff;
                font-size: 20px;
                transition: all 0.3s;

                &:hover {
                    color: #ca1919;
                    transition: all 0.3s;
                }
            }
        }
    }
    &__end__section {
        color: rgb(196, 181, 181);
    }
}
hr {
    color: #aaa;
}
